<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qianjisan.generator.mapper.TemplateFieldMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.qianjisan.enterprise.entity.TemplateField">
        <id column="id" property="id" />
        <result column="template_id" property="templateId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="is_deleted" property="isDeleted" />
        <result column="create_by_id" property="createById" />
        <result column="create_by_code" property="createByCode" />
        <result column="create_by_name" property="createByName" />
        <result column="update_by_id" property="updateById" />
        <result column="update_by_code" property="updateByCode" />
        <result column="update_by_name" property="updateByName" />
        <result column="field_name" property="fieldName" />
        <result column="field_code" property="fieldCode" />
        <result column="field_type" property="fieldType" />
        <result column="field_default_value" property="fieldDefaultValue" />
        <result column="is_edit" property="isEdit" />
        <result column="is_required" property="isRequired" />
        <result column="prompt_content" property="promptContent" />
        <result column="sort" property="sort" />
        <result column="position" property="position" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, template_id, create_time, update_time, is_deleted, create_by_id, create_by_code, create_by_name, update_by_id, update_by_code, update_by_name, field_name, field_code, field_type, field_default_value, is_edit, is_required, prompt_content, sort, position
    </sql>

</mapper>
